{
  "presets": ["@babel/env", "@babel/preset-react"],
   "plugins": ["react-hot-loader/babel", "@babel/plugin-proposal-class-properties"]
}
//"@babel/plugin-proposal-class-properties" is needed so that we can set state outside of the constructor